aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}

aside h3{
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    text-indent: 10px;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;

}

aside > ul{
    list-style-position: inside;
    padding-left: 20px;
    columns: 2;
    list-style: '\2714\00A0\00A0';

}

aside a{
    background-color: var(--cor3);
    color: var(--cor5);
}